body {
    font-family: sans-serif;
}
.qqqqq  {color:#0f4da8 ;background-color: yellow;border: yellow 1px solid;
border-radius: 10px; padding: 2px; margin: ;text-decoration: none;}
header {background-color: white;}
.qqqq   {background-color: #74ff00; text-align: center; 
border: solid 3px black;
margin-left: 300px;
margin-right: 300px;
border-radius: 11px;}
.QW {background-color: rgb(0, 255, 221);
margin-top:10PX ;
margin-bottom: 10px;}
.QWE    {color: grey;
text-decoration: none;
border: grey solid 2px;
border-radius: 11px;
background-color: grey;}
.qww {color: blue; border: #40D5FF  ridge   6px;
border-radius: 10px; background-color: #A640FF  ;}
.qqww {color: rgb(62, 123, 255);
text-decoration: none ;
border: solid rgb(47, 255, 151) 7px;
border-radius: 200px;
background-color: yellow;
text-align: center;}
.ewq    {color: rgb(255, 0, 255);
border: dashed  rgb(0, 255, 0)  5px;}
 
 
 

